@model List<Disk>
@{
    ViewBag.Title = "Disk Manager";
}

<h1>@ViewBag.Title</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Disk ID</th>
            <th>Disk Name</th>
            <th>Release Date</th>
            <th>Genre</th>
            <th>Status</th>
            <th>Media Type <br />(cd, vinyl, etc.)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var disk in Model)
        {
            <tr>
                <td>@disk.CdId</td>
                <td>@disk.CdName</td>
                <td>@disk.ReleaseDate</td>
                <td>@disk.GenreId</td>
                <td>@disk.StatusId</td>
                <td>@disk.DiskTypeId</td>
            </tr>
        }
    </tbody>
</table>